---
import Nextjs from '@/assets/Icons/Nextjs.astro'
import Icon from '@/assets/Icons/Icon.astro'
import Express from '@/assets/Icons/Express.astro'
import React from '@/assets/Icons/React.astro'
import JavaScript from '@/assets/Icons/JavaScript.astro'
import Tailwind from '@/assets/Icons/Tailwind.astro'
import TypeScript from '@/assets/Icons/TypeScript.astro'
import Nodejs from '@/assets/Icons/Nodejs.astro'
import Database from '@/assets/Icons/Database.astro'
import IconContainer from './IconContainer.astro'
---

<div
  class='grid grid-cols-3 grid-rows-3 gap-4 justify-center items-center iconContainer'>
  <IconContainer title='Next.js'>
    <Nextjs />
  </IconContainer>
  <IconContainer title='Astro'>
    <Icon />
  </IconContainer>
  <IconContainer title='Express'>
    <Express />
  </IconContainer>
  <IconContainer title='React'>
    <React />
  </IconContainer>
  <IconContainer title='JavaScript'>
    <JavaScript />
  </IconContainer>
  <IconContainer title='TypeScript'>
    <TypeScript />
  </IconContainer>
  <IconContainer title='Tailwind'>
    <Tailwind />
  </IconContainer>
  <IconContainer title='NodeJS'>
    <Nodejs />
  </IconContainer>
  <IconContainer title='Databases'>
    <Database />
  </IconContainer>
</div>
