---
import '../assets/styles/global.css'
import '../assets/styles/animations.css'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Bogar Alejandro - Portfolio</title>
  </head>
  <body class='bg-baseColor-background font-plus bg'>
    <main class='max-w-6xl mx-auto w-full'>
      <slot />
    </main>
  </body>
</html>
